/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "materialize";
@import "flexbox";
@import "transform";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:400,400i');
@import "font-awesome-compass";
@import "font-awesome";
@import "compass/css3/text-shadow";

html,
body {
	height: 100%;
}

// Breakpoints
$tablet-max-view: 1024px;
$tablet-min-view: 768px;
$mobile-max-view: 767px;

// Disruptive Studios Colors

// Black
$light-gray: #3d3d3d;
$dark-gray: #202020;

// Yellow
$light-yellow: #ffd360;
$mid-yellow: #ffc222;
$dark-yellow: #d7a90a;

// Turquoise
$turq: #a4dad5;

.turq {
	background-color: $turq;
}

// Fonts
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;

body {
	background-color: $dark-gray;
}
a,
.pointer {
	cursor: pointer;
	border: none;
	border-bottom: 2px solid transparent;
	font-family: $montserrat;
	font-weight: bold;
	// color: $mid-yellow;
	// padding-bottom: 15px;
}

// a:not(.showcase-links):not(.slide-nav):hover {
// 	border-bottom: 2px solid $mid-yellow;
//     // box-shadow: 0 1px 0 0 $mid-yellow;
// }

.fa.white-text:hover {
	color: $dark-yellow;
    -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.italic {
	font-style: italic;
}

// Text Shadow
$default-text-shadow-color: grey;
$default-text-shadow-v-offset: 1px;
$default-text-shadow-blur: 2px;

// Buttons
.btn, 
.btn-large,
.btn:focus, 
.btn-large:focus, 
.btn-floating:focus,
button:focus {
	background-color: $dark-yellow;
}

.btn:hover, 
.btn-large:hover {
	background-color: $mid-yellow;
}
a.slide-nav,
.vert a i {
	color: white;
}
a.slide-nav:focus,
a.slide-nav:hover,
.vert a i:hover {
	color: $mid-yellow;
}
.montserrat {
	font-family: $montserrat;
}

.playfair {
	font-family: $playfair;
}

.caps {
	text-transform: uppercase;
}

.link-hover {
	position: relative;
	text-decoration: none;
}
.link-hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: $mid-yellow;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.link-hover:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
#nav-mobile .link-hover:before {
	bottom: 15px;
}
.underline-short {
	border-top: 2px solid $mid-yellow;
	width: 50px;
	margin-top: 10px;
}
.white-underline {
	border-top: 2px solid white;
	width: 50px;
	margin-top: 10px;
}
.white-text {
	color: white;
}
.yellow-text {
	color: $mid-yellow;
}
h1 {
	font-family: $playfair;
	font-size: 70px;
	line-height: 70px;
}
h2 {
	font-family: $playfair;
	font-size: 40px;
	line-height: 45px;
}
h3 {
	font-family: $montserrat;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 2px;
}
h4 {
	font-family: $playfair;
	font-size: 30px;
	line-height: 30px;
}
p {
	font-family: $montserrat;
	font-size: 15px;
	line-height: 30px;
}
a {
	letter-spacing: 2px;

	span {
		letter-spacing: 0;
	}
}
.text-shadow {
	@include single-text-shadow;
}
.about-right p {
    margin-bottom: 100px;
}
.about-right h2, 
.do-list p {
	margin-bottom: 50px;
}
// .do-list .col.s3 {
// 	text-align: center;
// }
.white-text.numb-sect {
	margin-bottom: 50px;
}
.do-list {
	@include flexbox();
	@include justify-content(space-between);
}
.hori-line {
	width: 50px;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

// Dash animation
.dash-line {
	stroke:#fcc222;
	stroke-width:2;
}
.dash-line.animate {
	stroke-dasharray: 40;
	stroke-dashoffset: 40;
	animation: dash 3s ease infinite;		
}


@keyframes dash {
  0% {
  	stroke-dashoffset: 80;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
  	stroke-dashoffset: -80;
  }
}

// Flexbox
.flex {
	@include flexbox();
}
.flex-end-items {
	@include align-items(flex-end);
}
.align-items-center {
	@include align-items(center);	
}
.dead-center {
	@include flexbox();
	@include align-items(center);
    // display: flex;
    // align-items: center;
    justify-content: center;
    height: inherit;
}
.justify-end {
	@include justify-content(flex-end);
}

// HOMEPAGE

// body {
// 	height: 100vh;
// }
.content-wrapper {
	padding: 0 20px;
	max-width: 1200px;
	margin: auto;
}
.video-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  z-index: -1;
}

video#video-bg {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
// .showcase-imgs img {
// 	width: 600px;
// 	margin-bottom: 20px;
// }
.showcase-imgs {
	@include flex-direction(column);
}

.showcase-imgs p {
	color: white;
}

.case-slide-img {
	box-shadow: 1px 1px 35px rgba(0,0,0,0.6);
}
// Navigation
nav {
	padding: 20px 60px;
}

#nav-mobile,
.space-between {
	@include justify-content(space-between);
}
// #nav-mobile li {
// 	width: 100px;
// }
#nav-mobile li a {
	text-align: center;
	// transition: all 0.2s;
	font-size: 11px;
	letter-spacing: 2px;
	padding: 0;
}
// #nav-mobile li a:not(#home):hover {
// 	@include shadow(2px, 2px, 2px, #222);
// 	background-color: transparent;
// }
nav ul a:hover {
	background-color: transparent;
}

nav button,
nav button:focus {
	border: none;
	background-color: transparent;
}
#mobile-menu button {
	color: $dark-gray;
}
.justify-center {
	@include justify-content(center);
}

.navbar-fixed {
	position: absolute;
	width: 100%;

	nav {
		position: static;
	}
}
.navbar-fixed nav,
nav {
	background-color: transparent;
	box-shadow: none;
	@include flexbox();
	@include justify-content(center);
}
nav .nav-wrapper {
	width: 100%;
}
nav,
.side-navs.abs-pos,
#bottom-nav.abs-pos {
	position: absolute;
}
.side-navs.abs-pos {
	height: 100vh;
}
#bottom-nav.abs-pos {
	bottom: 100px;
}
.vert {
	@include flex-direction(column);
}

.fixed {
	position: fixed;
}

.side-navs {
	@include flexbox();
    position: fixed;
    height: 100%;
    align-items: center;
    top: 0;
    padding: 0 50px;

    a {
    	font-size: 11px;
    	letter-spacing: 2px;
    }
}
.side-navs i,
.side-navs p,
#bottom-nav p {
		@include single-text-shadow;
}
.side-navs div i {
	padding: 10px 0;
}

.left-nav {
	left: 0;
}
.left-nav div {
	@include align-items(center);
}
#email-icon {
	position: absolute;
	bottom: 50px;
}

.right-nav {
	right: 0;
}

#bottom-nav {
	@include flexbox();
	@include justify-content(center);
	width: 100%;
	bottom: 50px;
}
#bottom-nav div {
	@include flexbox();
	@include justify-content(space-between);
	@include align-items(center);
	width: 200px;
}
.vert-text {
	@include rot-trans(90, 50%, 50%);
	@include transform-origin(100%);

	p {
		font-size: 11px;
		letter-spacing: 2px;
	}
}

#main-title {
	height: 100vh;
    @include align-items(center);
    top: -64px;
    position: relative;
}
#main-title div h1,
#main-title div h3 {
	text-align: center;
}

// #main-title div h3 {
// 	font-size: 18px;
// }

/* Bring out to front using z-index */
.z1 {
	z-index: 1;
}
.z2 {
	z-index: 2;
}
.z10 {
	z-index: 10;
}

// About Us Section

// Modal Close
.modal-close {
	position: fixed;
	right: 50px;
	font-size: 20px;
}

#about {
	// width: 100%;
	// height: 100vh;
	// max-height: none;
	// top: 0 !important;
	background-color: black;
    background-image: url(../assets/img/about_hero.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.modal .modal-content {
	padding: 0;
}
#about-1 {
    // background-image: url(../assets/img/about_hero.jpg);
    padding-top: 200px;
}
#about-top {
	position: absolute;
	padding: 20px;
}
.about-left {
	width: 25%;
	padding-left: 20px;
	padding-top: 20px;
}
.about-right {
	width: 75%;
}
.we-section {
	margin-bottom: 100px;
}
#lets-talk-section {
	margin-bottom: 0;
	padding-bottom: 100px;
}
#lets-talk {
	background-image: url(../assets/img/contact_box.jpg);
	background-size: cover;
	@include flexbox();
	@include flex-direction(row);
	color: white;
	background-position: center;
}
#lets-talk p {
	margin-bottom: 20px;
}
#lets-talk p:last-child {
	margin-bottom: 0;
}
#contact-left {
	width: 60%;
	padding: 50px 50px 50px 70px;
	text-align: justify;
}
#contact-right {
	width: 40%;
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
}
.section {
	padding: 0;
}

// Case Studies
.slide {
	background-size: cover;
}
.case-hero {
	height: calc(100vh + 50px);
	// height: 100%;
}
#case-intro-section {
	position: relative; 
	height: 350px;
}
#case-intro-section div:first-child {
	background-color: white; 
	padding: 50px; 
	position: absolute; 
	width: 600px; 
	top: 30px;
	left: 10%;
	width: 42%;
}
#case-intro-section h2 {
	margin: 50px 0;
}
#case-intro-img {
	position: absolute; 
	top: -50px; 
	// right: 0;
	height: 450px;
	// width: 800px; 
	background-size: cover;
	right: 8%;
	width: 56%;
}
.case-intro-bahaari {
	background-image: url(../assets/img/bahaari_intro.jpg); 
}
.case-intro-iswim {
	background-image: url(../assets/img/iswim_intro.jpeg); 	
}
.case-intro-harvest {
	background-image: url(../assets/img/harvest_intro.jpg); 	
}
.case-intro-harvest {
	background-image: url(../assets/img/appuntamento_intro.jpg); 	
}
#logo-section {
	height: 350px;
}
#harvest-logos {
	@include flexbox();
	@include justify-content(space-around);
	@include align-items(flex-end);
    @include flex-direction(row);
    max-width: 1400px;
    width: 100%;
}
#harvest-logos div {
	max-width: 175px;
	text-align: center;
}
#harvest-logos img {
	width: 100%;
}
#case-info div.content-wrapper {
	justify-content: space-around; 
	padding: 50px 0 200px;
}
#case-info div.content-wrapper div {
	width: 27%; 
	text-align: justify;
}
#case-imgs.case-imgs-bahaari {
	height: 1150px;
}
#case-imgs.case-imgs-iswim,
#case-imgs.case-imgs-harvest,
#case-imgs.case-imgs-appunt {
	height: 1600px;
}
#iswim-laptop {
	max-width: 750px;
}
#case-imgs .content-wrapper {
	@include flexbox();
	@include flex-direction(column);
	position: relative; 
	bottom: 100px;
}
#case-imgs .content-wrapper div {
	height: 400px; 
	width: 900px; 
	margin: 25px 0; 
	background-size: cover;
	background-position: center;
}
#bahaari-slide {
	background-image: url(../assets/img/bahaari_background.jpg);
}
#iswim-slide {
	background-image: url(../assets/img/iswim_background.jpg);
}
#harvest-slide {
	background-image: url(../assets/img/harvest_background.jpg);
}
#appunt-slide {
	background-image: url(../assets/img/appuntamento_background.jpg);
}
#contact-slide {
	background-image: url(../assets/img/contact_hero.jpg);	
}
.case-imgs-bahaari .content-wrapper div:first-child {
	background-image: url(../assets/img/bahaari_buscard.jpg);
}
.case-imgs-bahaari .content-wrapper div:nth-child(2) {
	background-image: url(../assets/img/bahaari_letterhead.jpg);
}
.case-imgs-bahaari .content-wrapper div:nth-child(3) {
	background-image: url(../assets/img/bahaari_postcard.jpg);
}
.case-imgs-iswim .content-wrapper div:first-child {
	background-image: url(../assets/img/iswim_buscard.jpeg);
}
.case-imgs-iswim .content-wrapper div:nth-child(2) {
	background-image: url(../assets/img/iswim_letterhead.jpeg);
}
.case-imgs-iswim .content-wrapper div:nth-child(3) {
	background-image: url(../assets/img/iswim_envelope.jpeg);
}
.case-imgs-harvest .content-wrapper div:first-child {
	background-image: url(../assets/img/harvest_packaging.jpg);
}
.case-imgs-harvest .content-wrapper div:nth-child(2) {
	background-image: url(../assets/img/harvest_burger.jpeg);
}
.case-imgs-harvest .content-wrapper div:nth-child(3) {
	background-image: url(../assets/img/harvest_bags.jpeg);
}
.case-imgs-harvest .content-wrapper div:nth-child(4) {
	background-image: url(../assets/img/harvest_tshirt.jpg);
}
.case-imgs-appunt .content-wrapper div:first-child {
	background-image: url(../assets/img/appuntamento_buscard.jpg);
}
.case-imgs-appunt .content-wrapper div:nth-child(2) {
	background-image: url(../assets/img/appuntamento_menu.jpg);
}
.case-imgs-appunt .content-wrapper div:nth-child(3) {
	background-image: url(../assets/img/appuntamento_banner.jpg);
}
.case-imgs-appunt .content-wrapper div:nth-child(4) {
	background-image: url(../assets/img/appuntamento_wallpaper.jpg);
}
#we-should-talk-section {
	height: 250px;

	a {
		color: initial;
	}
}
// #we-should-talk-section.we-should-talk-iswim div.flex {
// 	@include justify-content(flex-end);
// }
#we-should-talk-section div.flex.dead-center {
	padding-bottom: 50px;
	@include flex-direction(column);
}
#parallax-product {
	height: 80vh;
}
.spacer {
	height: 250px;
}
#case-sites div.flex:first-child {
	@include justify-content(space-between); 
	position: relative; 
	bottom: 100px; 
	height: 800px;
}
#case-sites div:first-child div {
	width: 500px;  
	background-size: cover;	
}
.case-sites-bahaari div div:first-child {
	background-image: url(../assets/img/bahaari_homepage.jpeg);
}
.case-sites-bahaari div div:nth-child(2) {
	background-image: url(../assets/img/bahaari_store.jpeg);
}
#case-sites div.flex:nth-child(2) {
	@include flex-direction(column);
}
#contact-text {
	margin-right: 100px;
}
#talk-to-us:hover {
	a {
		border: none;
	}

	div {
		width: 90px;
	}
}

#contact-social div:first-child {
	position: relative; top: 70px; 	
}
#contact-social div div.flex.space-between {
	width: 100px; 
	margin-top: 30px;	
}
#next-section {
	position: relative; 
	height: 400px;
}
#next-project-text {
	background-color: white; 
	// padding-left: 100px; 
	padding-left: 10%;
	position: relative; 
	// width: 700px; 
	width: 50%;
	top: 75px; 
	height: 375px; 
	left: 250px;
	@include flex-direction(column);

	a {
		// width: 200px;
		// transition: all 0.2s;
		// color: rgba(0, 0, 0, 0.87);
		border: none;
		border-bottom: 2px solid transparent;
		font-family: $montserrat;
		font-weight: bold;
		color: $mid-yellow;
		padding-bottom: 0;

	}
}
#next-project-img,
.case-slide-img {
	height: 400px; 
	background-size: cover;
	@include align-items(center);
	@include justify-content(center);
	@include flexbox();
}
#next-project-img {
	position: absolute; 
	top: -50px; 
	right: 0; 
	width: 50%;	
}
.case-slide-img {
	margin-bottom: 30px;
	width: 750px;
}
.next-proj-iswim {
	background-image: url(../assets/img/iswim_cover.jpg); 	
}
.next-proj-harvest {
	background-image: url(../assets/img/harvest_cover.jpg); 	
}
.next-proj-appunt {
	background-image: url(../assets/img/appuntamento_cover.jpg); 	
}
.next-proj-bahaari {
	background-image: url(../assets/img/bahaari_cover.jpg); 	
}
.hide-on-desktop {
    display: none;
}
// .hide-on-tablet-and-mobile {
// 	display: initial;
// }
#contact-form {
	margin-top: 100px;

	div {
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);
		margin-bottom: 30px;
	}
	p {
		margin: 0;
	}
	input {
		width: 150px; 
		margin: 0 10px;
		height: 20px;
		color: white;
	}
}
#contact-submit {
	@include justify-content(center);
	margin-top: 70px;

	button {
		background-color: transparent;
		border: none;
	    text-transform: uppercase;
	    color: $mid-yellow;
	    font-weight: bold;
	    letter-spacing: 6px;
	    width: 100px;
	    text-align: center;
	    // transition: all 0.2s;
	}
}
// Map and Locations - Contact Us Page
#map-row {
	display: flex;
	flex-direction: row;
}
#florida-map,
#locations
{
    height: 800px;
    width: 100%;
    background-position: center;
}
#florida-map {
    background-image: url(../assets/img/map.jpg);
}
#locations {
    background-image: url(../assets/img/contact_details.jpg);
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $mid-yellow;
    box-shadow: none;
}

footer {
	background-color: black;
	padding: 50px;
    @include flexbox();
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);

    #footer-links {
    	width: 50%;
    	margin-top: 40px;
    	font-size: 10px;
    	letter-spacing: 2px;

    	ul {
		    @include flexbox();
		    @include justify-content(space-around);
   			@include align-items(center);
    	}
    }

    #copyright {
     	margin-top: 40px;   	
     	color: $light-gray;
    }
}


// Media Queries

// Tablets
@media only screen and (max-width: $tablet-max-view) {
	:target:before {
		content: "";
		display: block;
		height: 100px; /* fixed header height*/
		margin: -10px 0 0; /* negative fixed header height */
	}
	// .hide-on-desktop {
	//     display: initial;
	// }
	.hide-on-tablet-and-mobile {
		display: none;
	}
	.navbar-fixed {
		height: 100px;
		position: fixed;
	}
	nav {
		height: inherit;
		background-color: black !important;
		padding: 20px 10px;

		.brand-logo {
			left: 90%;
			height: 30px;
			top: 10px;
		}
		.nav-wrapper {
			height: 60px;
		}
	}
	#bottom-nav {
		display: none;
	}
	.video-bg-container {
		background-image: url(../assets/img/homepage_hero.jpg);
	    background-size: cover;
	    background-position: center;
	    background-repeat: no-repeat;
	}
	#mobile-menu {
		padding: 20px;
		@include gradient-directional($mid-yellow, $dark-yellow, 115deg);

		.underline-short {
			margin: auto;
		}

		a {
			padding: 0;
		}
	}
	.mobile-menu-items {
	    line-height: 50px;
	}
	#sidenav-overlay {
		z-index: 996;
	}
	#side-home {
		width: 80%;
	}
	#side-social {
		@include flexbox();
		@include justify-content(space-around);
		@include flex-direction(row);
		width: 100px;

		a {
			padding: 0;
			text-align: center;

			i {
				margin: 0;
				color: white;
			}
		}
	}
	#company-info-mobile {
		a {
			padding: 0;
		}
		p:first-child{
			line-height: 40px;
		}
		p {
			line-height: 20px;
		}
	}
	#bahaari-slide,
	#iswim-slide,
	#harvest-slide,
	#appunt-slide {
		background-image: none;
	}
	.next-proj-bahaari {
		background-image: url(../assets/img/homepage_mobile_bahaari_cover.jpg);
	}
	.next-proj-iswim {
		background-image: url(../assets/img/homepage_mobile_iswim_cover.jpg);
	}
	.next-proj-harvest {
		background-image: url(../assets/img/homepage_mobile_harvest_cover.jpg);
	}
	.next-proj-appunt {
		background-image: url(../assets/img/homepage_mobile_appuntamento_cover.jpg);
	}
	.case-slide-img {
		width: 100vw;
	    display: flex;
	    flex-direction: column;
	    height: 300px;
    	@include align-items(left);
    	padding-left: 30px;
	}
	#lets-talk-section div.about-left {
		width: 0;
	}
	#lets-talk-section div#lets-talk {
		width: 100%;
	}
	p.numb-sect,
	#lets-talk-mobile,
	#side-home {
		margin-bottom: 50px;
	}
	#side-home {
		margin-top: 8px;
	}
	#about {
		background-position: right;
	
		div.modal-content section {
			@include flex-direction(column);
		}
		div.modal-content section > div {
			width: 100%;
		}
		.modal-content {
			height: calc(100% - 100px);
			bottom: 0;
		}
		.content-wrapper {
			padding: 0;
		}
	}
	#about-top {
		img {
			width: 80%;
		}
	}
	.about-left {
		padding: 0 0 50px
	}
	#lets-talk-section {
		margin-bottom: 0;
	}
	#lets-talk {
		@include flex-direction(column-reverse);
	}
	#contact-left,
	#contact-right {
		width: 100%;
		padding: 50px;
	}
	#contact-right {
		text-align: center;
	}
	.we-section {
		padding: 0 50px;
	}
	.we-section:last-child {
		padding: 0;
	}
	.case-hero {
		// height: calc(100% + 50px);
	}
	#case-intro-section {
		height: 600px;
	}
	#case-intro-section div:first-child {
		left: 0;
		top: 220px;
	}
	#case-intro-img {
		width: 700px;
		height: 400px;
	}
	#case-info div.content-wrapper {
		@include flex-direction(column);
	}
	#case-info div.content-wrapper div {
		width: 100%;
		padding: 50px 20px;
	}
	// #case-imgs.case-imgs-bahaari,
	// #case-imgs.case-imgs-iswim,
	// #case-imgs.case-imgs-harvest {
	// 	height: 1000px;
	// }
	#case-imgs .content-wrapper div {
		width: 700px;
		height: 350px;
	}
	#parallax-product {
		height: 500px;
	}
	#parallax-product .parallax img {
		min-height: unset;
		min-width: unset;
		width: 150%;
	}
	#case-sites div.flex:first-child {
		@include justify-content(center);
		height: 1300px;
	}
	#case-sites div:first-child div {
		width: 100%;
		// height: 1300px;
	}
	// #we-should-talk-section.we-should-talk-iswim div.flex.dead-center,
	// #we-should-talk-section.we-should-talk-harvest div.flex.dead-center {
	// 	@include justify-content(center);
	// 	padding: 0;
	// }
	#logo-section {
		height: 650px;
	}
	#we-should-talk-section {
		height: 200px;
	}
	#case-imgs.case-imgs-bahaari {
		height: 1020px;
	}
	#case-imgs.case-imgs-iswim {
		height: 1500px;
	}
	#case-imgs.case-imgs-harvest, 
	#case-imgs.case-imgs-appunt {
		height: 1420px;
	}
	#case-contact-section {
		padding: 50px;
	}
	#case-sites div.flex:first-child div:nth-child(2) {
		width: 0;
	}
	#next-project-img {
		width: 700px;
		top: 300px;
	}
	#next-project-text {
		// @include justify-content(center);
		@include align-items(center);
		position: initial;
		padding: 0;
	}
	#harvest-logos {
		width: 90%;
		@include flex-wrap(wrap);
	}
}

// Mobile 
@media only screen and (max-width: $mobile-max-view) {
	h1 {
		font-size: 30px;
		line-height: 45px;
	}
	#about {
		padding-top: 120px;
	}
	#about-1 {
		padding-top: 0;
	}
	.about-right h2 {
	    margin-top: 0;
	}
	.side-navs {
		padding: 0;
	}
	#bottom-nav {
		bottom: 10px;
	}
	#email-icon {
		bottom: 5px;
	}
	.case-hero .dead-center img,
	#logo-section .dead-center img {
		width: 75%;
	}
	#case-intro-section div:first-child {
		width: 100%;
	}
	#case-intro-img,
	#case-intro-section div:first-child {
		width: 90%;
		right: 0;
	}
	.case-slide-img img {
		// width: 70%;
		height: 100px;
		margin-bottom: 10px;
	}
	#parallax-product {
		height: 300px;
	}
	#parallax-product .parallax img {
		width: 170%;
	}
	#case-imgs.case-imgs-bahaari {
		height: 750px;
	}
	#case-imgs.case-imgs-iswim {
		height: 1015px;
	}
	#case-imgs.case-imgs-harvest,
	#case-imgs.case-imgs-appunt {
		height: 1050px;
	}
	#case-imgs .content-wrapper div {
		width: 100%; 
		height: 250px;
	}
	#case-sites div.flex:first-child, 
	#case-sites div.side-navs:first-child {
		height: 600px;
	}
	.row.do-list {
		@include flex-direction(column);
	}
	#we-should-talk-section {
		height: 150px;
	}
	#iswim-laptop {
		width: 400px;
	}
	#case-contact-section div.flex {
		@include flex-direction(column);
	}
	#contact-text {
		margin: 0;
	}
	#contact-social div div.flex.space-between {
		@include flex-direction(row);	
	}
	#contact-slide {
		height: 800px;

		.showcase-imgs {
			padding: 50px 20px;
		}
	}
	#contact-form .flex {
		@include flex-direction(column);

		div {
			width: 100%;
		}
	}
	#contact-form,
	#contact-form input {
		width: 100%;
	}
	#next-project-text,
	#next-project-img {
		width: 90%;
	}
	#next-project-img img {
		width: 80%;
	}
}